.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #fc715e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*  new  */

body {
  font-family: 'Space Grotesk Regular';

  background-color: #fc715e;
  color: #1c1aa9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* a {
  text-decoration: none;
  color: #1c1aa9;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 36px;
} */

p {
  font-family: 'Space Grotesk Regular';

  text-align: justify;
  font-size: 36px;
  width: 600px;
}

p.activity {
  font-size: 14px;
}

p.reps {
  font-size: 14px; 
}

h1, h3 {
  color: #1c1aa9;
}

h1 {
  font-size: 64px;
  font-family: 'Suez One', serif;
}


a {
  font-family: 'Suez One', serif;
  font-size: 36px;
  text-decoration: none;
  color: #1c1aa9;

  padding: 50px;
}

/* splash page  */
.root {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}

/* nav {
  flex-direction: row;
  width: 100%;
  font-size: 36px;
  margin-top: 40px;

  justify-content: space-between;
} */

/* guide */
nav.guide {
  flex-direction: row; 
  width: 100%;
  margin-top: 40px;
}





.circle {
  height: 400px;
  width: 400px;
  font-size: 64px;
  border-radius: 50%;
  background-color: #1c1aa9;
  color: white;

  border: 1px solid black;
}

.circle-splash {
  height: 300px;
  width: 300px;
  font-size: 64px;
  border-radius: 50%;
  background-color: #1c1aa9;
  color: white;

  border: 1px solid black;
}

.circle-timer-squeeze {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #1c1aa9;
  border: 1px solid black;

  font-size: 36px;
  color: white;
}

.circle-timer-rest {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #1c1aa9;
  border: 1px solid black;

  font-size: 36px;
  color: white;
}

.app {
  text-align: center;
  background-color: #fc715e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1c1aa9;
}

.time {
  width: 600px;
  font-size: 3rem;
  /* padding: 2rem; */

  /* height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #1c1aa9;
  color: white;

  border: 1px solid black; */
}

.button {
  padding: .6rem 1.5rem;
  margin: .4rem;
  border-radius: 3px;

  border-style: groove;
}



.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #d45544;
}

.button-primary-active {
  background-color: #fc715e;
  border: 1px solid #fc715e;
}

.button-primary-inactive {
  background-color: #fc715e;
  border: 1px solid #fc715e;
}




/* beautiful circle animation */
.card {
  width: 400px;
  height: 400px;
  background:  #1c1aa9;
  border: 1px solid black;
  border-radius: 50%;
 
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
