.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fc715e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@font-face {
  font-family: Toren;
  src: url(/public/Toren-Mono.otf);

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*  new  */

body {
  font-family: Toren;

  background-color: #fc715e;
  color: #1c1aa9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



a {
  text-decoration: none;
  color: #1c1aa9;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 36px;
}

p {
  font-family: Toren;

  text-align: justify;
  font-size: 36px;
  width: 600px;
}

p.activity {
  font-size: 14px;
}

p.reps {
  font-size: 14px; 
}

h1, h3 {
  color: #1c1aa9;
}

nav {
  flex-direction: row;
  
  width: 100%;
  font-size: 24px;
  border: 1px solid #1c1aa9;
  margin-top: 20px;
}



.circle {
  height: 600px;
  width: 600px;
  font-size: 64px;
  border-radius: 50%;
  background-color: #1c1aa9;
  color: white;

  border: 1px solid black;
}

.circle-splash {
  height: 300px;
  width: 300px;
  font-size: 64px;
  border-radius: 50%;
  background-color: #1c1aa9;
  color: white;

  border: 1px solid black;
}

.app {
  text-align: center;
  background-color: #fc715e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1c1aa9;
}

.time {
  width: 600px;
  font-size: 3rem;
  /* padding: 2rem; */
}

.button {
  padding: .6rem 1.5rem;
  margin: .4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  border-style: groove;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #2641d4;
  border: 1px solid #1b1f2b;
}

.button-primary-active {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}

.button-primary-inactive {
  background-color: #3151ff;
  border: 1px solid #152684;
  color: white;
}



/* card  */


.card {
  width: 300px;
  height: 300px;
  background:  #1c1aa9;
  border: 1px solid black;
  border-radius: 50%;
 
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;

  margin-top: 150px;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
